





.banner {
   background-image: url("./assets/img/bg-jelly-fish-para_outras_pags.png");
   padding: 100px 0;
   background-size: cover;
   display: flex;

}

.banner .container {
  height: 350px;
  align-items: center;
  justify-content: center;
} 

.banner p {
  font-size: 36px;
  width: 280px;
  color: #fff ;
}

.social .caixa {
  display: flex;
  margin: 50px 0;
  
}

.caixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;

}

.caixa h4 {
  margin: 15px 0;
  color: #e6005a;
}

.caixa p {
  text-align: center;
}

.caixa img {
  width: 170px;
  
}

